//colors
$my-blue1: #4d90fe;
$my-blue2: #4787ed;
$my-blue3: #3079ed;
$my-red: #d93025;
$bg-gray:#f5f5f5;
$bg-gray2:#dfdcdc;
$text-color1: #202124;
$text-color2: #949494;
$hover-color: rgb(157, 160, 162);